<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>URL 工具类</title>
</head>

<link rel="stylesheet" href="/css/common.css">
<!-- import Vue before Element -->
<script src="/plugs/ele/vue.js"></script>
<!-- import JavaScript -->
<script src="/plugs/ele/index.js"></script>
<link rel="stylesheet" href="/plugs/ele/theme/index.css">

<script src="/plugs/axios/axios.min.js"></script>

<body>
<div id="app">
    <el-row>
        <el-col :span="24">
            <el-container>
                <el-header>
                    <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal"
                             active-text-color="#ffd04b" background-color="#545c64">
                        <el-menu-item index="1"><a href="/">工具中心</a></el-menu-item>
                        <el-menu-item index="2"><a href="/manager/daily.html">行程</a></el-menu-item>
                        <el-menu-item index="3"><a href="/manager/scraps.html">随手记</a></el-menu-item>
                        <el-menu-item index="4"><a href="/manager/jargon.html">行话</a></el-menu-item>
                        <el-menu-item index="5"><a href="/manager/diary.html">日记</a></el-menu-item>
                        <el-menu-item index="6"><a href="/manager/others.html">其他</a></el-menu-item>
                        <el-menu-item index="7"><a href="/daonism/yijing.html">道学</a></el-menu-item>
                    </el-menu>
                </el-header>

                <el-divider></el-divider>
                <el-row>
                    <el-col :span="24">
                        <el-form :model="jargon" :inline="true" class="demo-form-inline">
                            <el-form-item label="类型：">
                                <template>
                                    <el-select
                                            v-model="jargon.type"
                                            filterable
                                            allow-create
                                            default-first-option
                                            placeholder="请选择行话类型">
                                        <el-option
                                                v-for="item in options"
                                                :key="item.id"
                                                :label="item.type"
                                                :value="item.type">
                                        </el-option>
                                    </el-select>
                                </template>
                            </el-form-item>
                            <el-form-item label="行话：">
                                <el-input v-model="jargon.message" placeholder="行话内容"></el-input>
                            </el-form-item>
                            <el-form-item label="释义：">
                                <el-input v-model="jargon.explain" placeholder="释义" width="300"></el-input>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" @click="createJargon">添加</el-button>
                            </el-form-item>

                        </el-form>
                    </el-col>
                </el-row>
                <el-container>
                    <template>

                        <el-table
                                :data="tableData"
                                sortable
                                border stripe>
                            <el-table-column
                                    prop="type"
                                    label="类型"
                                    :filters=typeFilters
                                    :filter-method="filterHandler"
                                    width="200" sortable>
                            </el-table-column>
                            <el-table-column sortable
                                             prop="jargon"
                                             label="行话"
                                             width="200">
                            </el-table-column>
                            <el-table-column sortable
                                             prop="explain"
                                             width="1400"
                                             label="释义">
                            </el-table-column>
                            <el-table-column>
                                <template slot-scope="scope">
                                    <el-button @click="showEditForm(scope.$index, scope.row)" icon="el-icon-edit">
                                    </el-button>

                                    <el-button @click="showDeleteForm(scope.row)">删除</el-button>
                                </template>

                            </el-table-column>
                        </el-table>

                    </template>

                </el-container>
            </el-container>
        </el-col>
    </el-row>

    <el-dialog
            title="提示"
            :visible.sync="deletePopVisible"
            width="30%"
    >
        <span>删除当前行话？</span>
        <span slot="footer" class="dialog-footer">
    <el-button @click="deletePopVisible = false">取 消</el-button>
    <el-button type="primary" @click="deleteJargon()">确 定</el-button>
  </span>
    </el-dialog>


    <el-dialog title="修改行话" :visible.sync="editJargonVisible">
        <el-form ref="form" :model="jargonSelect" label-position="right" label-width="80px"
                 style="text-align:left">
            <el-form-item label="行话">
                <el-input v-model="jargonSelect.jargon"></el-input>
            </el-form-item>
            <el-form-item label="类型">
                <template>
                    <div>
                        <el-select
                                v-model="jargonSelect.type"
                                filterable
                                allow-create
                                default-first-option
                                placeholder="请选择行话类型">
                            <el-option
                                    v-for="item in options"
                                    :key="item.id"
                                    :label="item.type"
                                    :value="item.type">
                            </el-option>
                        </el-select>
                    </div>
                </template>
            </el-form-item>
            <el-form-item label="释义">
                <el-input v-model="jargonSelect.explain"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="editJargon">修改</el-button>
                <el-button @click="editJargonVisible = false">取消</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>
</div>
</body>
<script>
    var vue = new Vue({
        el: '#app',
        data: function () {
            return {
                activeIndex: '4',
                tableData: [],
                jargon: {},
                newJargon: {},
                options: [],
                editJargonVisible: false,
                deletePopVisible: false,
                jargonSelect: {
                    jargon: '',
                    type: '',
                    explain: '',
                    id: ''
                },
                typeFilters:[]
            }
        },
        methods: {
            showEditForm(index, row) {
                vue.editJargonVisible = true;
                vue.jargonSelect.jargon = row.jargon;
                vue.jargonSelect.type = row.type;
                vue.jargonSelect.explain = row.explain;
                vue.jargonSelect.id = row.id;
                console.log("row 信息", row);
            },
            showDeleteForm( row) {
                vue.jargonSelect.id = row.id;
                vue.deletePopVisible = true
            },
            editJargon() {
                vue.editJargonVisible = false;
                let jargon = new Object();
                jargon.id = vue.jargonSelect.id;
                jargon.jargon = vue.jargonSelect.jargon;
                jargon.type = vue.jargonSelect.type;
                jargon.explain = vue.jargonSelect.explain
                console.log(" jargon 信息", jargon)
                axios.post('/api/jargon/update', jargon)
                    .then(function (response) {

                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            async deleteJargon() {
                vue.deletePopVisible = false;
                await axios.post('/api/jargon/delete/' + vue.jargonSelect.id, {})
                    .then(function (response) {

                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                await getAll();
            },
            async createJargon() {
                var jargonNew = new Object();
                jargonNew.type = vue.jargon.type;
                jargonNew.explain = vue.jargon.explain;
                jargonNew.jargon = vue.jargon.message;
                console.log(jargonNew)
                await axios.post('/api/jargon/insert', jargonNew)
                    .then(function (response) {

                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                await getAll();
            },

            filterHandler(value, row, column) {
                const property = column['property'];
                return row[property] === value;
            }
        }
    });
     function getAll() {
        axios.post('/api/jargon/all', {})
            .then(function (response) {
                vue.tableData = response.data;
            })
            .catch(function (error) {
                console.log(error);
            });
    }

    getAll();


    function getAllType()
    {
        axios.get('/api/type/all', {})
            .then(function (response) {
                vue.options = response.data;
                vue.typeFilters = new Array();
                for (var i in vue.options) {
                    var obj  = new Object();
                    obj.value = vue.options[i].type;
                    obj.text = vue.options[i].type;
                    vue.typeFilters.push(obj);
                }
                console.log(vue.typeFilters);
            })
            .catch(function (error) {
                console.log(error);
            });
    }

    getAllType();
</script>

</html>