<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>URL 工具类</title>
</head>

<link rel="stylesheet" href="/css/common.css">
<!-- import Vue before Element -->
<script src="/plugs/ele/vue.js"></script>
<!-- import JavaScript -->
<script src="/plugs/ele/index.js"></script>
<link rel="stylesheet" href="/plugs/ele/theme/index.css">


<body>
<div id="app">

    <el-container>
        <el-header>
            <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal"
                     active-text-color="#ffd04b" background-color="#545c64">
                <el-menu-item index="1"><a href="/">工具中心</a></el-menu-item>
                <el-menu-item index="2"><a href="/manager/daily.html">行程</a></el-menu-item>
                <el-menu-item index="3"><a href="/manager/scraps.html">随手记</a></el-menu-item>
                <el-menu-item index="4"><a href="/manager/jargon.html">行话</a></el-menu-item>
                <el-menu-item index="5"><a href="/manager/diary.html">日记</a></el-menu-item>
                <el-menu-item index="6"><a href="/manager/finance.html">金融</a></el-menu-item>
            </el-menu>
        </el-header>

        <el-container>

            <el-button type="text" @click="addDialogFormVisible = true">新增</el-button>

            <template>

                <el-table
                        :data="tableData"
                        style="width: 100%" sortable
                        border stripe height>
                    <el-table-column
                            prop="type"
                            label="类型"
                            width="180" sortable>
                    </el-table-column>
                    <el-table-column sortable
                                     prop="jargon"
                                     label="行话"
                                     width="180">
                    </el-table-column>
                    <el-table-column sortable
                                     prop="explain"
                                     label="解释">
                    </el-table-column>
                    <el-table-column>
                        <template slot-scope="scope">
                            <el-button type="text" @click="handleEdit(scope.$index, scope.row)">打开 Dialog</el-button>
                        </template>

                    </el-table-column>
                </el-table>


                <el-dialog title="新增" :visible.sync="addDialogFormVisible">
                    <el-row>
                        <el-form ref="form" :model="form">
                            <el-col :span="4">
                                <el-form-item label="类型">
                                    <el-col :span="18">
                                        <el-input v-model="input" placeholder="请输入内容"></el-input>
                                    </el-col>
                                </el-form-item>
                            </el-col>
                            <el-col :span="4">
                                <el-form-item label="行话">
                                    <el-col :span="18">
                                        <el-input v-model="input" placeholder="请输入内容"></el-input>
                                    </el-col>
                                </el-form-item>
                            </el-col>
                            <el-col :span="6">
                                <el-form-item label="释义">
                                    <el-col :span="20">
                                        <el-input v-model="input" placeholder="请输入内容"></el-input>
                                    </el-col>
                                </el-form-item>
                            </el-col>
                            <el-button type="primary">添加</el-button>
                        </el-form>
                        <div slot="footer" class="dialog-footer">
                            <el-button @click="addDialogFormVisible = false">取 消</el-button>
                            <el-button type="primary" @click="addDialogFormVisible = false">确 定</el-button>
                        </div>
                    </el-row>
                </el-dialog>


                <el-dialog title="修改" :visible.sync="dialogFormVisible">
                    <el-form :model="form">
                        <el-form-item label="活动名称" :label-width="formLabelWidth">
                            <el-input v-model="form.name" autocomplete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="活动区域" :label-width="formLabelWidth">
                            <el-select v-model="form.region" placeholder="请选择活动区域">
                                <el-option label="区域一" value="shanghai"></el-option>
                                <el-option label="区域二" value="beijing"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-form>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible = false">取 消</el-button>
                        <el-button type="primary" @click="dialogFormVisible = false">确 定</el-button>
                    </div>
                </el-dialog>
            </template>

        </el-container>

    </el-container>

</div>
</body>
<script>
    var vue = new Vue({
        el: '#app',
        data: function () {
            return {
                tableData: [],
                visible: false,
                dialogTableVisible: false,
                dialogFormVisible: false,
                addDialogFormVisible: false,
                form: {
                    name: '123',
                    region: '',
                    date1: '',
                    date2: '',
                    delivery: false,
                    type: [],
                    resource: '',
                    desc: ''
                },
                formLabelWidth: '120px'
            }
        },
        methods: {
            handleEdit(index, row) {
                vue.dialogFormVisible = true;
                vue.form.name = row.id
                console.log(index, row);
            },
        }
    });
    axios.post('/api/data', {})
        .then(function (response) {
            console.log(response)
            vue.tableData = response.data;
        })
        .catch(function (error) {
            console.log(error);
        });
</script>

</html>