<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>URL 工具类</title>
</head>
<link rel="stylesheet" href="/plugs/ele/theme/index.css">
<link rel="stylesheet" href="/css/common.css">
<!-- import Vue before Element -->
<script src="/plugs/ele/vue.js"></script>
<!-- import JavaScript -->
<script src="/plugs/ele/index.js"></script>

<body>
<div id="app">

    <el-container>
        <el-header>
            <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal"
                     active-text-color="#ffd04b" background-color="#545c64">
                <el-menu-item index="1"><a href="/">工具中心</a></el-menu-item>
                <el-menu-item index="2"><a href="/manager/daily.html">行程</a></el-menu-item>
                <el-menu-item index="3"><a href="/manager/scraps.html">随手记</a></el-menu-item>
                <el-menu-item index="4"><a href="/manager/jargon.html">行话</a></el-menu-item>
                <el-menu-item index="5"><a href="/manager/diary.html">日记</a></el-menu-item>
                <el-menu-item index="6"><a href="/manager/others.html">其他</a></el-menu-item>
            <el-menu-item index="7"><a href="/daonism/yijing.html">道学</a></el-menu-item>
            </el-menu>
        </el-header>

        <el-container>
            <el-aside>
                <el-menu :default-openeds="['1', '1-1', '2']" default-active="1-1-2">
                    <el-submenu index="1">
                        <template slot="title"><i class="el-icon-menu"></i>开发工具(程序员)</template>
                        <el-submenu index="1-1">
                            <template slot="title">字符串</template>
                            <el-menu-item index="1-1-1">
                                <el-link href="/util/urlUtil.html">url全家桶</el-link>
                            </el-menu-item>
                            <el-menu-item index="1-1-2">
                                <el-link href="/util/singleStringUtil.html">单字符串</el-link>
                            </el-menu-item>
                            <el-menu-item index="1-1-3">
                                <el-link href="/util/multipleStringUtil.html">多字符串</el-link>
                            </el-menu-item>
                            <el-menu-item index="1-1-4">
                                <el-link href="/util/encryption.html">加解密</el-link>
                            </el-menu-item>
                        </el-submenu>
                        <el-submenu index="1-2">
                            <template slot="title">自动编码工具</template>
                            <el-menu-item index="1-2-1">方法级别</el-menu-item>
                            <el-menu-item index="1-2-2">整条链路</el-menu-item>
                        </el-submenu>
                    </el-submenu>
                    <el-submenu index="2">
                        <template slot="title"><i class="el-icon-setting"></i>分析工具</template>
                        <el-menu-item-group>
                            <template slot="title">分组一</template>
                            <el-menu-item index="2-1">选项1</el-menu-item>
                            <el-menu-item index="2-2">选项2</el-menu-item>
                        </el-menu-item-group>
                        <el-menu-item-group title="分组2">
                            <el-menu-item index="2-3">选项3</el-menu-item>
                        </el-menu-item-group>
                        <el-submenu index="2-4">
                            <template slot="title">选项4</template>
                            <el-menu-item index="2-4-1">选项4-1</el-menu-item>
                        </el-submenu>
                    </el-submenu>
                </el-menu>
            </el-aside>

        </el-container>

    </el-container>

</div>
</body>
<script>
    var vue = new Vue({
        el: '#app',
        data: function () {
            return {
                source_json: '',
                target_json: '',
                source_url: '',
                target_url: '',
                cipher_text: '',
                plain_text: '',
                activeIndex: '1'
            }
        },
        methods: {}
    });
</script>
</html>